---
id: "{{ id }}"
type: {{ type }}
name: "{{ name }}"
{%- if description %}
description: "{{ description }}"
{%- endif %}
{%- if refines %}
refines:
{%- for ref in refines %}
  - "{{ ref }}"
{%- endfor %}
{%- endif %}
---